<!-- Setting up variables to customize "project" details to be specific to index page -->
{% set project = "AWS Deployment Walkthrough" %}

{% extends "layouts/baseaws.html" %}
<!-- Custom block for standardizing Project Data-->

{% block style %}
    :root{
        --white: whitesmoke;
        --black: black;
        --grey: grey;
    }

    /* Set the text color to white */
    body {
        background: #0a1e30;
        color: white;
    }

    h1{
        font-size: 5em;
    }

    a {
        color: midnightblue;
    }

    .fa{
        font-size: 3em;
        letter-spacing: 1em;
        transition: all .2s;
        color: white;
    }

    .fa:hover{
        transform: translateY(10px);
    }

    .fa-youtube-play:hover{
        color: #cc0000;
    }

    .fa-twitter:hover{
        color: #1da1f2;
    }

    .fa-github:hover{
        color: #000000;
    }

    .btn:link,
    .btn:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px 40px;
        display: inline-block;
        border-radius: 100px;
        transition: all .2s;
        position: absolute;
        color: white;
        font-size: 2.5em;
    }

    .btn:hover {
        transform: translateY(-3px);
        box-shadow: 0 20px 40px rgba(255, 255, 255, 0.2);
    }

    /* Set the border properties for the text elements */
    .overview {
        position: relative; /* Create a relative positioning context */
    }

    .overview {
        border: 10px solid transparent; /* Transparent border initially */
        border-radius: 10px; /* Rounded corners */
        padding: 30px 20px; /* Adjust padding for text */
        margin: 0; /* Remove default margin */
        margin-bottom: 20px; /* Add margin to create space between text and buttons */
        color: white; /* Set text color to white */
        background-clip: padding-box; /* Clip background to padding box */
    }

    .border-fill {
        background-color: rgba(10, 30, 48, 0.8); /* Background color for border fill */
        position: absolute; /* Position behind text elements */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1; /* Place it behind the text elements */
        border-radius: 10px; /* Rounded corners */
    }

    .btn:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2);
    }

    .row{
        margin: auto;
    }
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row justify-content-end" style="padding: 2%;">
        <div class="col-2" style="text-align: right;">
            {% block info %}
                <!-- notice jinja style variables used in href's -->
                <a><h5>{{basename}}</h5></a>
                <a href={{github}} target="_blank"><i class="fa fa-github"></i></a>
            {% endblock %}
        </div>
    </div>

    <div class="product" style="margin-top: 2%;">
        <div class="row" style="padding: 10%; padding-top: 0%; padding-bottom: 5%;">

            <div class="col-8" >
                <h1>{{ project }} Project</h1>
            </div>

        </div>

        <div class="row" style="padding-left: 0%;">
            <div class="col-3">
                <a href="{{ overview }}" class="btn">Overview</a>
            </div>
        
            <div class="col-3">
                <a href="{{ scrumboard }}" class="btn">Scrum Board</a>
            </div>
        
            <div class="col-3">
                <a href="{{ repo }}" class="btn">Repository</a>
            </div>
        
            <div class="col-3">
                <a href="{{ authors }}" class="btn">Authors</a>
            </div>
        </div>

        <br>





        <br>




        <br>
        <br>





        <br>




        <br>
        <br>





        <br>




        <br>
        <br>





        <br>




        <br>

        <div class="overview">
            <div class="border-fill"></div>
                <h2>Getting Started.</h2>
                <p>First run a git clone of the template repository <a href="https://github.com/nighthawkcoders/flask_portfolio"> Github Template </a>. Then run the following commands to get the project up and running.</p>
                <ln>cd flask_portfolio (Replace flask_portfolio with your folder name for the project.)</ln>
                <p>vscode .</p>
                <p>Inside vscode look for main.py, Dockerfile, docker_compose.yml, and requirements.txt. These are the files that will need to be modified to get the project up and running. Once in those files find the example port so flask_portfolio looks like 80:80 and replace it with a port of your choice with 8--- as the leading port #.</p>
                <p>Once you have done that run the following commands in the terminal.</p>
                <ln>docker-compose build</ln>
                <p>Once that is done check it by opening http://localhost:(Your port number selected).</p>
                <p>Now that you have the project up and running you can start working on aws deployment. Go to <a href="https://us-east-2.console.aws.amazon.com/ec2/home?region=us-east-2#Instances:v=3;$case=tags:true%5C,client:false;$regex=tags:false%5C,client:false;sort=publicIp">Aws Server Page </a></p>
                <p>Click IAM user and log in as "nighthawkcodingsociety". Your IAM Username is your github profile name, and the password is "123Qwerty!". Once you log in, you will be required to change your password, which should have one lowercase letter, one uppercase letter, one number, and one special character (as well as a minimmum length of 8 characters). Once you have changed your password, you will be redirected to the AWS console.</p>

                <h2>Importing To AWS EC2</h2>
                <p>Once you are in the AWS console, click on EC2. Then click on the "CSP" instance.</p>
                <p>Inside the instance you will see Public IPv4 DNS, with a link to open the address. Click on that and it will redirect you to Ubuntu where it prompts you to sign in. Sign in with Username:ubuntu and Password:Ubuntu14*&*41.</p>
                <p>Once you are in Ubuntu, run the following commands in the terminal.</p>
                <ln>"git clone (put your github HTML clone link here)" it may prompt you to log in if it does put your Github Username and then your <a href="https://github.com/settings/tokens">github token</a>. once done type ls to see if you see your repository name.</ln>
                <ln>Build your site: docker-compose up -d --build</ln>
                <ln>Test your site: curl localhost:8--- (replace "8—" with your port number)</ln>
                <ln>If all works then proceed if not reach out to a teacher or student helper for more assistance.</ln>

                <h2>Configuring Your Domain</h2>
                <p>Goto AWS Route 53 and setup DNS subdomain for your backend server.</p>

        </div>

    </div>


    
    <footer>
        <div class="row justify-content-center">
            <div class="col-2">
                <a href="https://www.youtube.com/channel/UClIKOsDS5dsfzFA3zveDT3Q?view_as=subscriber" target="_blank"><i class="fa fa-youtube-play"></i></a>
            </div>
        </div>
    </footer>
</div>

{% endblock %}